body {
        display: flex;
}


.secao {
        width: 100%; 
        display: flex;
        flex-wrap: wrap;
        position: absolute;
        right: 0;
        margin: 55px 0;
}

.card2 {
        
        display: flex;
        margin: 0px auto;
        left: 0%;
}

.card {
        background-color: aliceblue;
        width: 306px;
       height: 464px;
       padding: 1px;
       border: 1px solid #fff;
       margin: 14px 14px;
       border-radius: 5px;
       -webkit-box-shadow: 1px 1px 1px 1px #ffe;
        -moz-box-shadow: 0px 1px 1px 1px #ffe;
        box-shadow: 0px 1px 2px 1px #ffe;
       
       
}

.card h3 {
        margin-top: 18px;
        text-align: center;
        margin: 12px 0;
        
}

.card img {
        width: 96%;
        height: 230px;
        padding: 8px;
        align-items: center;
        margin: 8px 0;
}

.descricao {
        background-color: antiquewhite;
        margin: 6px 0;
        height: 70px;
}

.card h4 {
        margin: 18px 0;
        text-align: center;
}